<div class="h-100 background-wrap">
<app-new-member (memberCreated)="isMemberRegistered = true; conditionallyShowInfo($event)" *ngIf="isMemberRegistered === false">Wpisz swoje dane</app-new-member>
<div class="h-100 background-content" *ngIf="isMemberRegistered === true">
  <app-room-header></app-room-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content class="h-100">
      <app-kanban-system-columns></app-kanban-system-columns>
    </mat-sidenav-content>
    <mat-sidenav [opened]="toggleService.isOpenSubject.getValue()" class="py-3 px-3 sidenav" mode="side" position="end">
      <app-members-productivity></app-members-productivity>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
</div>
