<app-new-member (memberCreated)="isMemberRegistered = true" *ngIf="isMemberRegistered === false">Wpisz swoje dane</app-new-member>
<div *ngIf="isMemberRegistered === true">
  <app-room-header></app-room-header>
  <mat-sidenav-container class="example-container" >
    <mat-sidenav-content>
      <app-kanban-system-columns></app-kanban-system-columns>
    </mat-sidenav-content>
    <mat-sidenav [opened]="toggleService.isOpen" class="py-3 px-3" #mySidenav mode="side" position="end" style="min-width: 150px">
      <app-members-productivity></app-members-productivity>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
