<nav class="navbar bg-light navbar-wrapper">
  <div class="container-fluid justify-content-between navbar-content-wrapper">
    <div class="content-start">
      <button mat-button routerLink="">Logo</button>
      <button class="mx-2" (click)="onGenerateTask()" mat-raised-button>
        Wygeneruj zadanie
      </button>
      <button [matMenuTriggerFor]="menu" class="mx-2" mat-raised-button>
        <span class="dropdown-button">
          <span>Blokery</span>
          <mat-icon class="arrow-down-icon">keyboard_arrow_down</mat-icon>
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="onDrawBlockers()" mat-menu-item>Losuj blokery</button>
        <button (click)="onSetProbabilityClicked()" mat-menu-item>Ustaw prawdopodobieństwo</button>
      </mat-menu>
      <button (click)="onSetLimitsClicked()" *ngIf="room.roomType === RoomTypeEnum.KANBAN_SYSTEM" mat-raised-button>
        Ustaw limity
      </button>
      <div class="d-inline-block">
      <fa-icon
        (click)="roomService.previousDay()"
        [icon]="faChevronLeft"
        class="cursor-pointer arrow-left-icon">
      </fa-icon>
      <div (click)="dayService.dayClickedSubject.next(roomService.day)" class="d-inline-block cursor-pointer day-wrapper">
        <div class="calendar-day-wrapper">
          <small
            [style.padding-left.px]="roomService.day > 9 ? '4' : '7'"
            class="calendar-day standard-icon-color">
            {{roomService.day}}
          </small>
          <fa-icon
            [icon]="faCalendar"
            class="standard-icon-color icon-25">
          </fa-icon>
        </div>
      </div>
      <fa-icon
        (click)="roomService.nextDay()"
        [icon]="faChevronRight"
        class="cursor-pointer icon-25">
      </fa-icon>
      </div>
    </div>
    <div class="content-end">
    <span *ngIf="!dropdownOpen">
    <fa-icon
      *ngFor="let member of members.slice(0, 5);"
      [icon]="faUserCircle"
      [style.color]="member.color"
      class="fa-lg cursor-pointer mx-1 icon-30"
      ngbTooltip="{{member.name}}&nbsp;{{member.type === MemberTypeEnum.VIEWER ? '(Przeglądający)' : ''}}"
      placement="auto">
    </fa-icon>
    </span>
      <div (openChange)="dropdownOpen = !dropdownOpen"
           class="d-inline-block"
           display="dynamic"
           ngbDropdown
           placement="bottom-right">
        <button *ngIf="members.length > 5"
                class="btn-primary btn-circle"
                id="dropdownBasic1"
                ngbDropdownToggle>+&nbsp;{{members.length - 5}}
        </button>
        <div
          aria-labelledby="dropdownBasic1"
          class="py-0 px-2 scrollable-menu dropdown-menu scrollbar-primary"
          ngbDropdownMenu>
          <small class="text-secondary small-text">
            Łączna&nbsp;liczba&nbsp;uczestników:&nbsp;{{members.length}}
          </small>
          <ul class="list-group list-group-flush">
            <li *ngFor="let member of members; let i = index"
                class="list-group-item px-0">
              <fa-icon
                [icon]="faUserCircle"
                [style.color]="member.color"
                class="fa-lg mx-1">
              </fa-icon>
              <span class="small-text">{{member.name}}</span>
              <fa-icon
                *ngIf="member.type === MemberTypeEnum.VIEWER"
                [icon]="faEye"
                class="mx-1 icon-12"
                ngbTooltip="Przeglądający"
                placement="auto">
              </fa-icon>
            </li>
          </ul>
        </div>
      </div>
      <fa-icon
        (click)="toggleService.isOpenSubject.next(!toggleService.isOpenSubject.getValue())"
        *ngIf="toggleService.isOpenSubject.getValue() === false"
        [icon]="faBars"
        class="cursor-pointer menu-open-icon">
      </fa-icon>
    </div>
  </div>
</nav>

