<nav class="navbar  navbar-wrapper">
  <div class="container-fluid justify-content-between navbar-content-wrapper">
    <div class="content-start">
      <button mat-button routerLink="">
        <img alt="kanban logo" style="width: 35px;" src="assets/kanban-logo.png">
      </button>
      <button class=" " (click)="onGenerateTask()" mat-button>
        Wygeneruj zadanie
      </button>
      <button *ngIf="roomMember.type === MemberTypeEnum.PARTICIPANT" (click)="onDrawBlockers()" mat-button>
          Losuj blokery
      </button>
      <button *ngIf="roomMember.type === MemberTypeEnum.VIEWER" [matMenuTriggerFor]="menu" class=" " mat-button>
        <span class="dropdown-button">
          <span>Blokery</span>
          <mat-icon class="arrow-down-icon">keyboard_arrow_down</mat-icon>
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="onDrawBlockers()" mat-menu-item>Losuj blokery</button>
        <button (click)="onSetProbabilityClicked()" mat-menu-item>Ustaw prawdopodobieństwo</button>
      </mat-menu>
      <button class="" (click)="onSetLimitsClicked()" *ngIf="room.roomType === RoomTypeEnum.KANBAN_SYSTEM" mat-button>
        Ustaw limity
      </button>
      <button class="" style="margin-right: 10px; display: flex; align-items: center;" [cdkCopyToClipboard]="link" (cdkCopyToClipboardCopied)="openSnackBar()" mat-button>
        <span>Udostępnij&nbsp;</span>
        <fa-icon
          [icon]="faShareSquare">
        </fa-icon>
      </button>
      <div style="color:whitesmoke; filter: drop-shadow(0 0 1px #777);" class="d-inline-block">
      <fa-icon
        (click)="dayService.previousDay()"
        [icon]="faChevronLeft"
        class="cursor-pointer arrow-left-icon">
      </fa-icon>
      <div (click)="dayService.dayClickedSubject.next(dayService.daySubject.getValue())" class="d-inline-block cursor-pointer day-wrapper">
        <div class="calendar-day-wrapper">
          <small
            [style.padding-left.px]="dayService.daySubject.getValue() > 9 ? '4' : '7'"
            class="calendar-day standard-icon-color">
            {{dayService.daySubject.getValue()}}
          </small>
          <fa-icon
            [icon]="faCalendar"
            class="standard-icon-color icon-25">
          </fa-icon>
        </div>
      </div>
      <fa-icon
        (click)="dayService.nextDay()"
        [icon]="faChevronRight"
        class="cursor-pointer icon-25">
      </fa-icon>
      </div>
    </div>
    <div class="content-end">
    <span *ngIf="!dropdownOpen">
    <fa-icon
      *ngFor="let member of members.slice(0, 5);"
      [icon]="faUserCircle"
      [style.color]="member.color"
      class="fa-lg cursor-pointer mx-1 icon-30 icon-background"
      ngbTooltip="{{member.name}}&nbsp;{{member.type === MemberTypeEnum.VIEWER ? '(Obserwator)' : ''}}"
      placement="auto">
    </fa-icon>
    </span>
      <div (openChange)="dropdownOpen = !dropdownOpen"
           class="d-inline-block"
           display="dynamic"
           ngbDropdown
           placement="bottom-right">
        <button *ngIf="members.length > 5"
                class="btn-primary btn-circle"
                style="background-color: whitesmoke; color: #2c2c2c!important;"
                id="dropdownBasic1"
                ngbDropdownToggle>
          +&nbsp;{{members.length - 5}}
        </button>
        <div
          aria-labelledby="dropdownBasic1"
          class="py-0 px-2 scrollable-menu dropdown-menu scrollbar-primary"
          ngbDropdownMenu>
          <small class="text-secondary small-text">
            Łączna&nbsp;liczba&nbsp;uczestników:&nbsp;{{members.length}}
          </small>
          <ul class="list-group list-group-flush">
            <li *ngFor="let member of members; let i = index"
                class="list-group-item px-0">
              <fa-icon
                [icon]="faUserCircle"
                [style.color]="member.color"
                class="fa-lg mx-1">
              </fa-icon>
              <span class="small-text">{{member.name}}</span>
              <fa-icon
                *ngIf="member.type === MemberTypeEnum.VIEWER"
                [icon]="faInfo"
                class="mx-1 icon-12"
                ngbTooltip="Obserwator"
                placement="auto">
              </fa-icon>
            </li>
          </ul>
        </div>
      </div>
      <fa-icon
        (click)="toggleService.isOpenSubject.next(!toggleService.isOpenSubject.getValue())"
        *ngIf="toggleService.isOpenSubject.getValue() === false"
        [icon]="faBars"
        class="cursor-pointer menu-open-icon navbar-button">
      </fa-icon>
    </div>
  </div>
</nav>

