<div style="min-width: 960px; margin-top: 10px;" class="row mx-5">
  <div style="min-width: 160px" class="col-2 kanban-col">
    <h3 class="text-center">Zadania</h3>
  </div>
  <div style="width: 60%;" class="col-8">
    <div class="row">
      <div class="col  ">
        <h3 class="text-center">Etap 1 - W trakcie</h3>
      </div>
      <div class="col  ">
        <h3 class="text-center">Etap 1 - Wykonane</h3>
      </div>
      <div class="col  ">
        <h3 class="text-center">Etap 2</h3>
      </div>
    </div>
  </div>
  <div class="col-2 kanban-col ">
    <h3 class="text-center">Wykonane</h3>
  </div>
</div>

<div style="min-width: 960px; height: calc(100% - 64px); overflow-y: hidden" class="row mx-5">
  <div
       class="col-2 kanban-col border column-wrapper side-column-wrapper">
    <div
      cdkDropList
      id="backlog"
      [cdkDropListData]="backlog"
      [cdkDropListConnectedTo]="getConnectedLists(columns[0])"
      class="example-list scrollbar-secondary side-column"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box m-1" *ngFor="let item of backlog" cdkDrag>
        <app-task-board [allMembers]="members" [task]="item"></app-task-board>
      </div>
    </div>
  </div>
  <div class="col-8 scrollbar-secondary middle-column-wrapper">
    <div *ngFor="let item of memberTasks; let i = index" class="row middle-col-member-row">
      <div
        [style.border-top-right-radius] = "j === 2 ? '3px' : '0'"
        [style.border-bottom-right-radius] = "j === 2 ? '3px' : '0'"
        [style.border-top-left-radius] = "j === 0 ? '3px' : '0'"
        [style.border-bottom-left-radius] = "j === 0 ? '3px' : '0'"
        [style.border-right]="'1px solid #dee2e6'"
        [style.border-left]="j === 0 ? '1px solid #dee2e6' : '0'"
        *ngFor="let column of memberColumns; let j = index"
        class="col p-0 member-col-tile">
        <div *ngIf="j === 0"
              class="p-0 member-name-wrapper">
          <fa-icon
            style="font-size:30px"
            class="fa-lg cursor-pointer mx-1"
            [style.color]="item.member.color"
            [icon]="faUserCircle">
          </fa-icon>
          <span> {{item.member.name}}</span>
        </div>
        <div
          style="min-height: 150px;"
          cdkDropList
          id="{{column + '-' +  i}}"
          [cdkDropListData]="item.columnTasks.get(column)"
          [cdkDropListConnectedTo]="getConnectedLists(column, i)"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="p-1 m-1">
            <div  class="example-box p-0 m-0 task-wrapper"
                 *ngFor="let it of item.columnTasks.get(column)"
                 cdkDrag>
              <app-task-board [allMembers]="members" [task]="it"></app-task-board>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col kanban-col border column-wrapper side-column-wrapper" >
    <div
      cdkDropList
      id="done"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="getConnectedLists(columns[columns.length -1])"
      class="example-list scrollbar-secondary side-column"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box m-1" *ngFor="let item of done" cdkDrag>
        <app-task-board [allMembers]="members" [task]="item"></app-task-board>
      </div>
    </div>
  </div>

</div>
