<div class="row mx-5 columns-wrapper system-cols-wrapper" cdkDropListGroup>
  <div *ngIf="multipleColumnLimits?.length" class="chips-wrapper">
    <mat-chip-list aria-label="Column limits">
      <mat-chip *ngFor="let item of multipleColumnLimits"
                disableRipple
                [ngClass]="{'limit-chip-white': getMultipleColumnLimit(item.columns) <= item.limitValue,
                 'limit-chip-warn': getMultipleColumnLimit(item.columns) > item.limitValue}"
                class="limit-chip">
        {{item.columns | columnName: ' + '}}: {{getMultipleColumnLimit(item.columns)}}/{{item.limitValue}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div *ngFor="let column of columns;let i = index"
       [style.height]="multipleColumnLimits?.length ? 'calc(100% - 62px)': 'calc(100% - 10px)'"
       class="col kanban-col border column-wrapper kanban-system-col-wrapper" >
      <h3 class="text-center my-0">
        {{column.name | columnName}}
        <span [ngClass]="{'text-secondary': !singleColumnLimits[i].limit?.limitValue || !singleColumnLimits[i].limit?.isActive || column.tasks.length <= singleColumnLimits[i].limit?.limitValue,
        'text-danger': singleColumnLimits[i].limit?.limitValue && singleColumnLimits[i].limit?.isActive && column.tasks.length > singleColumnLimits[i].limit?.limitValue}"
              class="text-secondary" style="font-size: 0.875em;">
        (<span *ngIf="!singleColumnLimits[i].limit?.limitValue || !singleColumnLimits[i].limit?.isActive">{{column.tasks.length}}</span>
        <span *ngIf="singleColumnLimits[i].limit?.limitValue && singleColumnLimits[i].limit?.isActive">{{column.tasks.length}}/{{singleColumnLimits[i].limit?.limitValue}}</span>)
          <fa-icon
            ngbTooltip="Przekroczono limit"
            *ngIf="singleColumnLimits[i].limit?.limitValue && singleColumnLimits[i].limit?.isActive && column.tasks.length > singleColumnLimits[i].limit?.limitValue"
          [icon]="faExclamationCircle">
          </fa-icon>
        </span>
      </h3>
    <div
      cdkDropList
      id="{{column.name}}"
      class="example-list scrollbar-secondary kanban-system-col"
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box m-1" *ngFor="let item of column.tasks" cdkDrag>
       <app-task-system [task]="item" [allMembers]="members"></app-task-system>
      </div>
    </div>
  </div>
</div>
