<div style="min-width: 960px; margin-bottom: 50px; margin-top: 20px" class="row mx-5" cdkDropListGroup>
  <div style="margin-bottom: 10px">
    <mat-chip-list aria-label="Column limits">
      <mat-chip *ngFor="let item of multipleColumnLimits"
                disableRipple
                [ngClass]="{'limit-chip-white': getMultipleColumnLimit(item.columns) <= item.limitValue,
                 'limit-chip-warn': getMultipleColumnLimit(item.columns) > item.limitValue}"
                class="limit-chip">
        {{item.columns | columnName: ' + '}}: {{getMultipleColumnLimit(item.columns)}}/{{item.limitValue}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div *ngFor="let column of columns;let i = index" style="min-width: 160px" class="col kanban-col border" >
    <div >
      <h3 class="text-center my-0">{{column.name | columnName}}</h3>
      <p class="text-center m-0 text-secondary">{{column.tasks.length}}/{{singleColumnLimits[i].limit?.limitValue}}</p>
    </div>
    <div
      style="min-height: 200px;height: 100%"
      cdkDropList
      id="{{column.name}}"
      class="example-list"
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box m-1" *ngFor="let item of column.tasks" cdkDrag>
       <app-task-system [task]="item" [allMembers]="members"></app-task-system>
      </div>
    </div>
  </div>
</div>
