<div style="min-width: 960px; margin-bottom: 50px; margin-top: 20px" class="row mx-5" cdkDropListGroup>
  <div *ngFor="let column of columns" style="min-width: 160px" class="col kanban-col border" >
    <div >
      <h3 class="text-center">{{column.displayName}}</h3>
    </div>
    <div
      style="min-height: 200px;height: 100%"
      cdkDropList
      id="{{column.name}}"
      class="example-list"
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box m-1" *ngFor="let item of column.tasks" cdkDrag>
       <app-task-system [task]="item" [allMembers]="members"></app-task-system>
      </div>
    </div>
  </div>
</div>
