.columns-container{
  grid-template-columns: 12vw 48vw;
}
.example-box {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.border-column- {
  border: darkgrey solid 1px;
}

.kanban-col {
  width: 20%
}

.limit-chip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.limit-chip:hover:after {
  background-color: inherit!important;
  opacity: 0;
}

.limit-chip:focus:after {
  background-color: inherit!important;
  opacity: 0;
}

.limit-chip-white {
  background-color: white;
  color: #495057;
}

.limit-chip-warn {
  background-color: #f44336;
  color: white;
}

.system-cols-wrapper {
  height: calc(100% - 10px);
}

.chips-wrapper {
  margin-bottom: 10px;
  padding-left: 0;
}

.kanban-system-col-wrapper {
  margin-bottom: 10px;
  margin-right: 5px;
  padding-bottom: 10px;
}

.kanban-system-col {
  min-height: 100px;
  height: calc(100% - 28px);
  overflow-y: auto
}
