/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100%; margin: 0; }
.cursor-pointer{
  cursor:pointer;
}

.cursor-default{
  cursor: default;
}

.small-text {
  font-size: 12.5px;
}

.btn-circle {
  width: 30px!important;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 9px;
  font-weight: bolder;
  color:white!important;
  line-height: 1.428571429;
  border-radius: 30px;
  border:none;
}

.scrollable-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

.scrollbar-primary {
  scrollbar-color: #4285F4 #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #bfc4ce; }

.scrollbar-secondary {
  scrollbar-color: #4285F4 #F5F5F5;
}

.calendar-day-wrapper {
  margin-right: 7px;
  display: flex;
  align-items: center;
}

.calendar-day {
  position: absolute;
  text-align: center;
  font-weight: bold;
  padding-top: 5px
}

.icon-shadow {
  filter:drop-shadow(1px 1px 1px grey)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-actions {
  display: flex;
  justify-content: right;
}

.link {
  cursor:pointer;
  color:#3f51b5;
  text-decoration:underline;
}

.sidenav {
  min-width: 150px;
  overflow-y: hidden;
  height: 100%;
  background-color: transparent;
  background-image: inherit;
}

.sidenav-container {
  height: calc(100% - 59px);
  background-color: transparent;
  background-image: inherit;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.columns-wrapper {
  min-width: 960px;
  margin-top: 10px;
}

.column-wrapper {
  min-width: 170px;
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.snackbar-white {
  background-color: rgba(0,0,0,0.6);
  color: rgb(250, 250, 250);
}

.snackbar-white button {
  color: #4285F4;
}

.calendar-fixed-day-wrapper {
  margin-right: 7px;
  display: flex;
  align-items: center;
}

.calendar-fixed-day {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding-top: 5px
}

.background-wrap {
  position: relative;
}

.background-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-image: url(assets/notes-background1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.background-content {
  position: relative;
}

.icon-background svg {
  background: radial-gradient(circle at 50%,#eaeaea 55%, #afafad 0%);
  border-radius: 50%;
}
