<div class="example-box py-1 px-2 " >
  <div class="task-header">
    <div style="display:flex">
      <div class="calendar-day-wrapper" *ngIf="task.type === taskType.FIXED_DATE">
        <small
          [style.padding-left.px]="task.dueDay > 9 ? '4' : '7'"
          class="calendar-day standard-icon-color">
          {{task.dueDay}}
        </small>
        <fa-icon
          style="font-size: 25px"
          class="standard-icon-color"
          [icon]="faCalendar">
        </fa-icon>
      </div>
      <div style="display:grid;">
        <div style="line-height:16px">
          <span>{{task.name}}</span>
        </div>
        <div style="line-height: .875em">
          <small style="font-style:italic">
            {{task.type | taskType}}</small>
        </div>
      </div>
    </div>
    <div class="lock-icon-wrapper">
      <fa-icon
        class="cursor-pointer icon-standard-size icon-shadow"
        (click)="blockedToggled()"
        [style.color]="task.isBlocked === true ? 'darkorange' : 'green'"
        [icon]="task.isBlocked === true ? faLock : faLockOpen">
      </fa-icon>
    </div>
  </div>
  <hr class="my-1"/>
  <div class="cursor-default">
        <fa-icon
          #clickMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="menu"
          (menuOpened)="task.isMenuOpen = true"
          (menuClosed)="task.isMenuOpen = false"
          class="icon-small-size cursor-pointer assignee-icon standard-icon-color icon-shadow"
          [icon]="task.assignees.length === 0 ? faUserPlus : faPencilAlt">
        </fa-icon>
    <div style="display: inline-block" *ngFor="let item of task.assignees">
        <fa-icon
          class="assignee-icon icon-small-size icon-shadow cursor-pointer"
                 (click)="task.selectedColor = item.color"
          [style.color]="item.color"
          [icon]="faUser"
          placement="auto"
          ngbTooltip="{{item.name}}">
        </fa-icon>
      <fa-icon [style.color]="item.color" *ngIf="item.color === this.task.selectedColor" style="display: inline-block;position: relative; font-size: 9px; top:-6px;left:-1px" class="fa-flip-horizontal" [icon]="faFillDrip" >
      </fa-icon>
      </div>
      <mat-menu
        class="scrollable-menu scrollbar-primary py-0"
        #menu="matMenu">
        <ul class="list-group list-group-flush py-0" >
          <li class="list-group-item px-1 cursor-pointer"
              *ngFor="let assignee of assigneesList">
            <mat-checkbox color="primary" [checked]="!!assignee.isAssignee" (click)="$event.stopPropagation()" (change)="assigneeChanged($event.checked, assignee)" >
              <fa-icon
                style="margin-right: 4px; "
                class="fa-lg"
                [style.color]="assignee.color"
                [icon]="faUserCircle">
              </fa-icon>
              <span style="margin-right: 15px">{{assignee.name}}</span>
            </mat-checkbox>
          </li>
        </ul>
      </mat-menu>

  </div>
  <div class="cursor-default">
    <div class="task-stage">
      <small style="justify-self: flex-start" class="my-0 stage">Etap 1</small>
      <span class="cursor-pointer">
      <fa-icon
        *ngFor="let item of task.workPoints1;let i = index"
        (click)="onWorkPointClicked(1, i)"
        class="work-point cursor-pointer icon-shadow"
        [icon]="faCircle"
        [style.color]="item === null ?'white' : item">
      </fa-icon>
        </span>
    </div>
    <div class="task-stage">
      <small class="my-0 stage">Etap 2</small>
      <span class="cursor-pointer icon-shadow">
      <fa-icon
        *ngFor="let item of task.workPoints2;let i = index"
        (click)="onWorkPointClicked(2, i)"
        class="work-point cursor-pointer"
        [icon]="faCircle"
        [style.color]="item === null ?'white' : item">
      </fa-icon>
        </span>
    </div>
  </div>
  <hr class="my-1"/>
  <div class=" effort-wrapper">
    <div>
    <form [formGroup]="timelineForm" (ngSubmit)="test();startDayInput.blur();endDayInput.blur()" style="display: flex; flex-wrap: nowrap" >
    <div class="col">
      <small>początek</small>
      <input  #startDayInput formControlName="startDay"  [style.border-color]="startDay.valid ? '': 'darkred'"
              (blur)="onStartDaySubmitted()" class="input-group-text p-0 effort-input font-small" type="number" step="1" min="1" max="10"/>
    </div>
    <div class="col">
      <small>koniec</small>
      <input #endDayInput formControlName="endDay"  [style.border-color]="endDay.valid ? '': 'darkred'"
             (blur)="onEndDaySubmitted()" class="input-group-text p-0 effort-input font-small" type="number" step="1" min="1" max="10"/>
    </div>
      <button type="submit" style="display:none">hidden submit</button>
    </form>
        <div *ngIf="startDay.valid == false || this.endDay.valid === false">
          <small style="color:darkred">Niepoprawna wartość</small>
        </div>
    </div>
    <div *ngIf="this.task.startDay && this.task.endDay">
      <small>czas trwania: {{this.task.endDay - this.task.startDay}} </small>
    </div>
  </div>
</div>

