<div class="example-box py-1 px-2">
  <div class="task-header">
    <div style="display:flex">
      <div class="calendar-day-wrapper" *ngIf="task.type === taskType.FIXED_DATE">
        <small
          [style.padding-left.px]="task.dueDay > 9 ? '4' : '7'"
          class="calendar-day standard-icon-color">
          {{task.dueDay}}
        </small>
        <fa-icon
          style="font-size: 25px"
          class="standard-icon-color"
          [icon]="faCalendar">
        </fa-icon>
      </div>
      <div style="display:grid;">
        <div style="line-height:16px">
          <span>{{task.name}}</span>
        </div>
        <div style="line-height: .875em">
          <small style="font-style:italic">
            {{task.type | taskType}}</small>
        </div>
      </div>
    </div>
    <div class="lock-icon-wrapper">
      <fa-icon
        class="cursor-pointer icon-standard-size"
        (click)="blockedToggled()"
        [style.color]="task.isBlocked === true ? 'darkorange' : 'green'"
        [icon]="task.isBlocked === true ? faLock : faLockOpen">
      </fa-icon>
    </div>
  </div>
  <hr class="my-1"/>
  <div class="cursor-default">
    <div class="assignee-list">
      <div *ngIf="task.assignees !== null">
        <div *ngFor="let item of task.assignees">
        <fa-icon
          class="work-point icon-standard-size"
          [style.color]="item.color"
          [icon]="faUserCircle"
          placement="auto"
          ngbTooltip="{{item.name}}">
        </fa-icon>
        </div>
      </div>

      <fa-icon
        [matMenuTriggerFor]="menu"
        class="icon-small-size cursor-pointer assignee-icon standard-icon-color"
        [icon]="task.assignees.length === 0 ? faUserPlus : faPencilAlt">
      </fa-icon>
      <mat-menu
        class="scrollable-menu scrollbar-primary py-0"
        #menu="matMenu">
        <ul class="list-group list-group-flush py-0">
          <li (click)="$event.stopPropagation()" class="list-group-item px-1 cursor-pointer"
               *ngFor="let assignee of task.assignees">
<!--              //todo add form with checkboxes for each member-->
                <mat-checkbox color="primary">
                  <div>
                  <fa-icon
                    style="margin-right: 4px"
                    class="fa-lg"
                    [style.color]="assignee.color"
                    [icon]="faUserCircle">
                  </fa-icon>
                  </div>
                  <span style="margin-right: 15px">{{assignee.name}}</span>
                </mat-checkbox>
          </li>
        </ul>
      </mat-menu>

    </div>
  </div>
  <div class="cursor-default">
    <div class="task-stage">
      <small style="justify-self: flex-start" class="my-0 stage">Etap 1</small>
      <span class="cursor-pointer">
      <fa-icon
        *ngFor="let item of task.workPoints1;let i = index"
        (click)="onWorkPointClicked(1, i)"
        class="work-point cursor-pointer"
        [icon]="faCircle"
        [style.color]="item === null ?'white' : item">
      </fa-icon>
        </span>
    </div>
    <div class="task-stage">
      <small class="my-0 stage">Etap 2</small>
      <span class="cursor-pointer">
      <fa-icon
        *ngFor="let item of task.workPoints2;let i = index"
        (click)="onWorkPointClicked(2, i)"
        class="work-point cursor-pointer"
        [icon]="faCircle"
        [style.color]="item === null ?'white' : item">
      </fa-icon>
        </span>
    </div>
  </div>
  <hr class="my-1"/>
  <div class=" effort-wrapper">
    <div>
    <form style="display: flex; flex-wrap: nowrap" >
    <div class="col">
      <small>poczatek</small>
      <input class="input-group-text p-0 effort-input font-small" type="number"/>
    </div>
    <div class="col">
      <small>koniec</small>
      <input class="input-group-text p-0 effort-input font-small" type="number"/>
    </div>
    </form>
    </div>
    <div>
      <small>czas trwania: </small>
    </div>
  </div>
</div>

