<div class="example-box py-1 px-2 ">
  <div class="task-header">
    <div style="display:flex">
      <div
        *ngIf="task.type === taskType.FIXED_DATE"
        [style.margin-left.px]="task.dueDay > 9 ? '-15' : '-7'"
        class="calendar-fixed-day-wrapper">
        <small
          [style.right.px]="task.dueDay > 9 ? '-17' : '-14'"
          class="calendar-fixed-day standard-icon-color">
          {{task.dueDay}}
        </small>
        <fa-icon
          [icon]="faCalendar"
          class="standard-icon-color"
          style="font-size: 25px">
        </fa-icon>
      </div>
      <div style="display:grid;">
        <div style="line-height:16px">
          <span>{{task.name}}</span>
        </div>
        <div style="line-height: .875em">
          <small style="font-style:italic">
            {{task.type | taskType}}</small>
        </div>
      </div>
    </div>
    <div class="lock-icon-wrapper">
      <fa-icon
        (click)="blockedToggled()"
        [icon]="task.isBlocked === true ? faLock : faLockOpen"
        [style.color]="task.isBlocked === true ? 'darkorange' : 'green'"
        class="cursor-pointer icon-standard-size icon-shadow">
      </fa-icon>
    </div>
  </div>
  <hr class="my-1"/>
  <div class="cursor-default">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center flex-wrap" style="color: #313131">
        <fa-icon
          #clickMenuTrigger="matMenuTrigger"
          [icon]="faUserCircle"
          [matMenuTriggerFor]="mainMenu"
          [style.color]="mainAssignee == null ? '#414141' : mainAssignee.color"
          class=" cursor-pointer "
          style="font-size: 20px">
        </fa-icon>
        <span *ngIf="helpers?.length > 0" style="font-size: 20px; margin-left:3px; color: #a1a1a1">|</span>
        <ng-container *ngFor="let item of helpers" style="display: inline-block">
          <fa-icon
            (click)="task.selectedColor  = task.selectedColor === item.color ? null : item.color"
            [icon]="faUserCircle"
            [style.color]="item.color"
            class="assignee-icon icon-small-size  cursor-pointer"
            ngbTooltip="{{item.name}}"
            placement="auto">
          </fa-icon>
        </ng-container>
      </div>
      <div #clickHelperMenuTrigger="matMenuTrigger" (menuClosed)="task.isHelperMenuOpen = false"
           (menuOpened)="task.isHelperMenuOpen = true"
           [matMenuTriggerFor]="helpersMenu">
        <fa-icon
          *ngIf="helpers?.length > 0"
          [icon]="faPencilAlt"
          [style.color]="this.task.selectedColor"
          class="icon-small-size cursor-pointer assignee-icon standard-icon-color ">
        </fa-icon>
        <mat-icon
          *ngIf="helpers?.length === 0"
          class="cursor-pointer" style="font-size: 20px; height: 20px; width: 20px; color: #313131">add
        </mat-icon>
      </div>
    </div>
    <mat-menu
      #helpersMenu="matMenu"
      (click)="$event.stopPropagation()"
      class="scrollable-menu scrollbar-primary py-0">
      <div *ngIf="task.assignees?.length > 0" style=" padding-left: 5px; padding-top: 5px;padding-right: 5px">
        <small class="text-secondary">Kolor wypełnienia punktów</small>
        <div style="display: flex; flex-wrap: wrap;column-gap: 5px; row-gap: 5px; padding-bottom: 5px;">
          <div (click)="$event.stopPropagation()" *ngFor="let item of task.assignees;let i = index"
               style="position: relative">
            <fa-icon
              (click)="task.selectedColor = task.selectedColor === item.color ? null : item.color"
              [icon]="faCircle"
              [style.color]="item === null ?'white' : item.color"
              class=" cursor-pointer icon-shadow"
              style="font-size: 18px">
            </fa-icon>
            <fa-icon *ngIf="item.color === this.task.selectedColor"
                     [icon]="faTick"
                     style="display: inline-block;position: absolute; font-size: 8px; top:-1px;right: 5px; color: whitesmoke">
            </fa-icon>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <small class="text-secondary" style=" padding-left: 5px; padding-top: 5px;padding-right: 5px">Dodaj pomocników</small>
      <ul class="list-group list-group-flush py-0">
        <li (click)="$event.stopPropagation()" *ngFor="let assignee of helpersList"
            class="list-group-item px-1 cursor-pointer">
          <mat-checkbox (change)="assigneeChanged($event.checked, assignee)" (click)="$event.stopPropagation()" [checked]="!!assignee.isAssignee"
                        color="primary" style="width: 100%; height: 100%">
            <fa-icon
              [icon]="faUserCircle"
              [style.color]="assignee.color"
              class="fa-lg"
              style="margin-right: 4px; ">
            </fa-icon>
            <span style="margin-right: 15px">{{assignee.name}}</span>
          </mat-checkbox>
        </li>
      </ul>
    </mat-menu>
    <mat-menu
      #mainMenu="matMenu"
      class="scrollable-menu scrollbar-primary py-0">
      <small class="text-secondary" style=" padding-left: 5px; padding-top: 5px;padding-right: 5px">Wybierz głównego wykonawcę</small>
      <ul class="list-group list-group-flush py-0">
        <li *ngIf="mainAssignee != null"
            class="list-group-item px-1">
          <div class="assignee-list">
            <fa-icon
              [icon]="faUserCircle"
              [style.color]="mainAssignee.color"
              class="fa-lg"
              style="margin-right: 4px">
            </fa-icon>
            <span style="margin-right: 15px">{{mainAssignee.name}}</span>
            <fa-icon
              (click)="onMainAssigneeRemoved()"
              [icon]="faTimes"
              [style.color]="'darkred'"
              class="cursor-pointer "
              style="margin-left: auto; font-size:14px">
            </fa-icon>
          </div>
        </li>
        <li (click)="onMainAssigneeAdded(member)"
            *ngFor="let member of mainAssigneeList; let i = index"
            class="list-group-item px-1 cursor-pointer assignee-list-item">
          <div class="assignee-list">
            <fa-icon
              [icon]="faUserCircle"
              [style.color]="member.color"
              class="fa-lg"
              style="margin-right: 4px">
            </fa-icon>
            <span style="margin-right: 15px">{{member.name}}</span>
          </div>
        </li>
      </ul>
    </mat-menu>

  </div>
  <div class="cursor-default">
    <div class="task-stage">
      <small class="my-0 stage" style="justify-self: flex-start">Etap 1</small>
      <span class="cursor-pointer">
      <fa-icon
        (click)="onWorkPointClicked(item)"
        *ngFor="let item of task.workPoints1;let i = index"
        [icon]="faCircle"
        [style.color]="item.color === null ?'white' : item.color"
        class="work-point cursor-pointer icon-shadow">
      </fa-icon>
        </span>
    </div>
    <div class="task-stage">
      <small class="my-0 stage">Etap 2</small>
      <span class="cursor-pointer icon-shadow">
      <fa-icon
        (click)="onWorkPointClicked(item)"
        *ngFor="let item of task.workPoints2;let i = index"
        [icon]="faCircle"
        [style.color]="item.color === null ?'white' : item.color"
        class="work-point cursor-pointer">
      </fa-icon>
        </span>
    </div>
  </div>
  <hr class="my-1"/>
  <div class=" effort-wrapper">
    <div>
      <form (ngSubmit)="startDayInput.blur();endDayInput.blur()" [formGroup]="timelineForm"
            style="display: flex; flex-wrap: nowrap">
        <div class="col">
          <small>początek</small>
          <input #startDayInput (blur)="onStartDaySubmitted()" [style.border-color]="startDay.valid ? '': 'darkred'"
                 class="input-group-text p-0 effort-input font-small" formControlName="startDay" max="10"
                 min="1" step="1" type="number"/>
        </div>
        <div class="col">
          <small>koniec</small>
          <input #endDayInput (blur)="onEndDaySubmitted()" [style.border-color]="endDay.valid ? '': 'darkred'"
                 class="input-group-text p-0 effort-input font-small" formControlName="endDay" max="10"
                 min="1" step="1" type="number"/>
        </div>
        <button style="display:none" type="submit">hidden submit</button>
      </form>
      <div *ngIf="startDay.valid == false || this.endDay.valid === false">
        <small style="color:darkred">Niepoprawna wartość</small>
      </div>
    </div>
    <div *ngIf="this.task.startDay && this.task.endDay ">
      <small>czas trwania: {{this.task.endDay - this.task.startDay + 1}} </small>
    </div>
  </div>
</div>

